#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
}

.resume {
  padding: 1in;
  width: 6.5in;
  height: 9in;

  background-color: white;
}

.resume:hover {
  outline: dashed 2px black;
}

.resume > div > h4,
.resume > ul {
  margin: 0;
}

.button {
  padding: 6px;
}

.button > button {
  display: none;
}

.button:hover > button,
.button > button:hover {
  display: inline-block;
}

input {
  border: none;
  outline: none;

  color: inherit;
  background: inherit;
  font-family: inherit;
  font-size: inherit;
}

textarea {
  color: inherit;
  background: inherit;
  font-family: inherit;
  font-size: inherit;
}

input:hover,
input:focus {
  border-bottom: solid 2px black;
}

.showPDF,
.savePDF,
.hidePDF {
  margin-bottom: 8px;
}

.linkGithub {
  margin: 8px;
  width: 1in;
  background-color: #e2d3d3;
  color: rgb(97, 97, 97);
  font-weight: 700;
  font-size: 1.1rem;
  text-align: right;

  position: fixed;
  bottom: 0;
  right: 0;
}

.PDF {
  display: none;
}

.print {
  display: none;

  padding: 1in;
  width: 6.5in;
  height: 9in;
  background-color: white;
}

input {
  width: 3in;
}

textarea {
  margin: 6px 0px;
  width: 6.5in;
  height: 5rem;
}

.proText,
.expText {
  text-align: left;
}

h4,
.rGen > div,
.section > p:first-child {
  text-align: start;
}

.section > p:first-child,
h4 {
  border-bottom: solid 1px black;
}

.general > div,
.rGen > div,
.list > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.general > div:first-child > p:first-child,
.list > div > div:first-child > p:first-child,
.section > p:first-child {
  font-weight: 700;
}

.general > div > p,
.list > div > div > p {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}