#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
}

.resume {
  padding: 1in;
  width: 6.5in;
  height: 9in;
}

.resume:hover {
  outline: dashed 2px black;
}

.resume > div > h4,
.resume > ul {
  margin: 0;
}

.button {
  padding: 6px;
}

.button > button {
  display: none;
}

.button:hover > button,
.button > button:hover {
  display: inline-block;
}

input {
  border: none;
  outline: none;

  color: inherit;
  background: inherit;
  font-family: inherit;
  font-size: inherit;
}

input:hover {
  border-bottom: solid 2px black;
}

.showPDF {
  margin-bottom: 8px;
}

.PDF {
  display: none;
}

.print {
  display: none;

  padding: 1in;
  width: 6.5in;
  height: 9in;
  background-color: white;
}

h4,
.section > p:first-child {
  text-align: start;
}

.general > div,
.list > div > div {
  justify-content: space-between;
  display: flex;
}

.general > div:first-child > p:first-child,
.list > div > div:first-child > p:first-child,
.section > p:first-child {
  font-weight: 700;
}